{include file="common/header" /}
    <!--<header>-->
        <!--<div class="titlebar">-->
            <!--<a class="titlebar-button" href="javascript:back()"><i class="size16 icon icon-arrowleft"></i></a>-->
            <!--<h1>列表</h1>-->
        <!--</div>-->
    <!--</header>-->
    <article>
        <details open>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>时段折扣情况(单位：$/km)</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin:0;">
                <form class="period_form">
                    {foreach name="periodData" item="pItem"}
                        <div class="inputbox underline">
                            <label class="inputbox-left" style="padding: 10px 0 10px 12px;">{$pItem.start_period}~{$pItem.end_period}</label>
                            <div class="inputbox-right inputbox">
                                <input type="text" class="input-text" placeholder="输入该时段每公里加价" name="period-{$pItem.id}-price_special" value="{$pItem.price_special}"
                                       style="padding:15px 12px;"/>
                            </div>
                        </div>
                    {/foreach}
                    <div style="padding:10px 12px;">
                        <a class="radius4 button block cancel margin8 period_button">立即生效</a>
                    </div>
                </form>
            </div>
        </details>
        {foreach name="mileageData" item="mItem"}
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: {$mItem.start_mileage}km ~ {$mItem.end_mileage}km（单位：$）</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <form class="mileage_form">
                    <input type="hidden" name="id" value="{$mItem.id}">
                    <div class="inputbox underline">
                        <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                        <div class="inputbox-right inputbox">
                            <input type="text" class="input-text" placeholder="输入该时段折扣" name="price_unit" value="{$mItem.price_unit}"
                                   style="padding:15px 12px;"/>
                        </div>
                    </div>
                    <div class="inputbox underline">
                        <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                        <div class="inputbox-right inputbox">
                            <input type="text" class="input-text" placeholder="输入价格区间减少值" name="price_minus" value="{$mItem.price_minus}"
                                   style="padding:15px 12px;"/>
                        </div>
                    </div>
                    <div class="inputbox underline">
                        <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                        <div class="inputbox-right inputbox">
                            <input type="text" class="input-text" placeholder="输入价格区间增加值" name="price_add" value="{$mItem.price_add}"
                                   style="padding:15px 12px;"/>
                        </div>
                    </div>
                    <div style="padding:10px 12px;">
                        <a class="radius4 button block cancel margin8 mileage_button">立即生效</a>
                    </div>
                </form>
            </div>
        </details>
        {/foreach}
    </article>

<script>
    $(document).ready(function(){
        $('.period_button').click(function () {
            var data = $(this).parents('.period_form').serialize();
            $.post(
                    '/admin/setting/updatePeriod',
                    data,
                    function (result) {
                        if (result.status) {
                            alert(result.message)
                        }
                    }
            );
        });


        $('.mileage_button').click(function () {
            var data = $(this).parents('.mileage_form').serialize();
            $.post(
                    '/admin/setting/updateMileage',
                    data,
                    function (result) {
                        if (result.status) {
                            alert(result.message)
                        }
                    }
            );
        });



    })
</script>



{include file="common/footer" /}