{include file="common/header" /}
    <!--<header>-->
        <!--<div class="titlebar">-->
            <!--<a class="titlebar-button" href="javascript:back()"><i class="size16 icon icon-arrowleft"></i></a>-->
            <!--<h1>列表</h1>-->
        <!--</div>-->
    <!--</header>-->
    <article>
        <details open>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>时段折扣情况</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin:0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">24:00 ~ 07:00</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段每公里加价" name="nickname" style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">07:00 ~ 17:00</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段每公里加价" name="nickname" style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">17:00 ~ 20:00</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段每公里加价" name="nickname" style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">20:00 ~ 24:00</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段每公里加价" name="nickname" style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>
        <details close>
            <summary class="underline" style="padding: 12px 12px;position: relative;">
                <span>里程: 0km ~ 10km</span>
                <i class="size16 summary-icon float-right" style="margin-top: 2px;"></i>
            </summary>
            <div class="group" style="margin: 0;">
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">里程单价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入该时段折扣" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格减价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间减少值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div class="inputbox underline">
                    <label class="inputbox-left" style="padding: 10px 0 10px 12px;">价格加价</label>
                    <div class="inputbox-right inputbox">
                        <input type="text" class="input-text" placeholder="输入价格区间增加值" name="nickname"
                               style="padding:15px 12px;"/>
                    </div>
                </div>
                <div style="padding:10px 12px;">
                    <a class="radius4 button block cancel margin8">立即生效</a>
                </div>
            </div>
        </details>





    </article>
    <!--Exmobi能力-->
    <!--<script src="../scripts/lib/exmobi/exmobi.js"></script>-->
    <script>
        var view={
            /*=========================
             Model
             ===========================*/
            initialize:function(){
                /*DOM*/

                /*Plugin*/

                /*Data*/

                /*Render*/
                this.render();

                /*Events*/
                this._attach();
            },
            render:function(){
                this._initPlugin();
            },
            /*=========================
             Method
             ===========================*/
            _update:function(){
            },
            /*=========================
             Plugin
             ===========================*/
            _initPlugin:function(){

            },
            /*=========================
             Events
             ===========================*/
            _attach:function(e){
                var self=this;
            },
            /*=========================
             Event Handler
             ===========================*/
        }

        window.addEventListener("load",function(){
            view.initialize();
        }, false);

        //定义exmobi返回
        function back(){history.go(-1);}
    </script>
{include file="common/footer" /}