{include file="common/header" /}
    <!--<header>-->
        <!--<div class="titlebar">-->
            <!--<a class="titlebar-button" href="javascript:back()"><i class="size16 icon icon-arrowleft"></i></a>-->
            <!--<h1>列表</h1>-->
        <!--</div>-->
    <!--</header>-->
    <article>
        <form class="inputbox margin8 radius20 overflow-hidden" data-input="clear">
            <i class="color-placeholder icon icon-search" style="margin-top: 8px;font-size: 16px;"></i>
            <input type="search" placeholder="搜索框" class="search input-text" style="padding: 5px 12px;">
            <i class="color-placeholder icon icon-clear-fill hide size20"></i>
        </form>
        <details open>
            <summary class="underline" style="padding: 4px 10px 4px 4px;position: relative;background-color: #f9f9f9">
                <img width="40" height="40" src="http://f.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=219a3419d088d43ff0fc99f6482efe2d/d4628535e5dde7114d76d09aa1efce1b9d166132.jpg"/>
                <span>王测试</span>
                <i class="size16 summary-icon float-right" style="margin-top: 12px;float: right;"></i>
            </summary>
            <ul class="list">
                <li class="underline">

                    <div class="list-container">
                        <div class="list-row">
                            <i class="list-icon icon-femalesign color-primary"></i>
                            <p class="list-font">性别：男 </p>

                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-phone color-primary"></i>
                            <p class="list-font">手机：18500001111 </p>
                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-home color-primary"></i>
                            <p class="list-font">地区：中国 北京 </p>
                        </div>
                        <div>
                            <a class="button warn" style="float: right;margin-top: -50px;height: 30px;padding: 0 4px;font-size: 13px;">设为管理员</a>
                        </div>
                    </div>
                </li>
            </ul>
        </details>
        <details open>
            <summary class="underline" style="padding: 4px 10px 4px 4px;position: relative;background-color: #f9f9f9">
                <img width="40" height="40" src="http://f.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=219a3419d088d43ff0fc99f6482efe2d/d4628535e5dde7114d76d09aa1efce1b9d166132.jpg"/>
                <span>王测试</span>
                <i class="size16 summary-icon float-right" style="margin-top: 12px;float: right;"></i>
            </summary>
            <ul class="list">
                <li class="underline">

                    <div class="list-container">
                        <div class="list-row">
                            <i class="list-icon icon-femalesign color-primary"></i>
                            <p class="list-font">性别：男 </p>

                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-phone color-primary"></i>
                            <p class="list-font">手机：18500001111 </p>
                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-home color-primary"></i>
                            <p class="list-font">地区：中国 北京 </p>
                        </div>
                        <div>
                            <a class="button warn" style="float: right;margin-top: -50px;height: 30px;padding: 0 4px;font-size: 13px;">设为管理员</a>
                        </div>
                    </div>
                </li>
            </ul>
        </details>
        <details open>
            <summary class="underline" style="padding: 4px 10px 4px 4px;position: relative;background-color: #f9f9f9">
                <img width="40" height="40" src="http://f.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=219a3419d088d43ff0fc99f6482efe2d/d4628535e5dde7114d76d09aa1efce1b9d166132.jpg"/>
                <span>王测试</span>
                <i class="size16 summary-icon float-right" style="margin-top: 12px;float: right;"></i>
            </summary>
            <ul class="list">
                <li class="underline">

                    <div class="list-container">
                        <div class="list-row">
                            <i class="list-icon icon-femalesign color-primary"></i>
                            <p class="list-font">性别：男 </p>

                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-phone color-primary"></i>
                            <p class="list-font">手机：18500001111 </p>
                        </div>
                        <div class="list-row">
                            <i class="list-icon icon-home color-primary"></i>
                            <p class="list-font">地区：中国 北京 </p>
                        </div>
                        <div>
                            <a class="button warn" style="float: right;margin-top: -50px;height: 30px;padding: 0 4px;font-size: 13px;">设为管理员</a>
                        </div>
                    </div>
                </li>
            </ul>
        </details>







    </article>
    <!--Exmobi能力-->
    <!--<script src="../scripts/lib/exmobi/exmobi.js"></script>-->
    <script>
        var view={
            /*=========================
             Model
             ===========================*/
            initialize:function(){
                /*DOM*/

                /*Plugin*/

                /*Data*/

                /*Render*/
                this.render();

                /*Events*/
                this._attach();
            },
            render:function(){
                this._initPlugin();
            },
            /*=========================
             Method
             ===========================*/
            _update:function(){
            },
            /*=========================
             Plugin
             ===========================*/
            _initPlugin:function(){

            },
            /*=========================
             Events
             ===========================*/
            _attach:function(e){
                var self=this;
            },
            /*=========================
             Event Handler
             ===========================*/
        }

        window.addEventListener("load",function(){
            view.initialize();
        }, false);

        //定义exmobi返回
        function back(){history.go(-1);}
    </script>
{include file="common/footer" /}